<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>Update From Gallery</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.ferryfair.safari.cronTab</string>
			<key>Developer Identifier</key>
			<string>92458GN43Z</string>
			<key>CFBundleVersion</key>
			<string>9</string>
			<key>CFBundleShortVersionString</key>
			<string>1.8</string>
			<key>URL</key>
			<string>http://www.ferryfair.com/crontab/CronTab-1.7_8.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
